<% extend('../base') %>

    <div class="card-wrapper">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="<%= author.photoUrl %>" alt="<%= author.title %> cover">
                    </div>
                </div>
            </div>
            <!-- card right -->
            <div class="product-content">
                <h2 class="product-title">
                    <%= author.name %>
                </h2>
                <% var books = author.books %>
                <div class="product-detail">
                    <p>
                        <%= author.biography %>
                    </p>
                    <ul>

                        <li>Livres :
                            <span>
                                <% for (b of books) { %>
                                    <a href="/book/view/<%= b.slug %>">
                                        <%= b.title %>
                                        <%= books.indexOf(b) < author.books.length - 1 ? ', ' : '' %>
                                    </a>
                                <% } %>
                            </span>
                        </li>
                        <li>Code : 
                            <span>
                                <%= author.code %>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <% for (b of books) { %>
                        <div class="col-md-4" style="width: 100; height: 150;">
                            <a href="/book/view/<%= b.slug %>">
                                <img class="img-thumbnail rounded" src="<%= b.coverUrl %>" alt="<%= b.title %>">
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>