<!DOCTYPE html>
<html lang="fr">

<%- include('./components/head') %>

<body>

    <%- include('./components/loader') %>

    <%- include('./components/navbar') %>

    <%- content %>

    <%- include('./components/footer') %>

    <%- include('./components/script') %>

</body>

</html>