<% extend('../base') %>

<section class="ftco-section">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters mb-5">
                        <div class="col-md-12">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <% if (!locals.message) { %>
                                    <div class="alert alert-info text-center">
                                        <p>
                                            <strong>Important:</strong> Afin de faciliter le processus de soumission, veuillez suivre <a href="/assets/sb.pdf" target="_blank">les instructions ici</a>.
                                        </p>
                                    </div>
                                    <h3 class="mb-4">
                                        Formulaire de soumission
                                    </h3>
                                <% } %>
                                <% if (locals.error) { %>
                                    <div class="alert alert-danger">
                                        <%= locals.error %>
                                    </div>
                                <% } %>
                                <% if (locals.message) { %>
                                    <div class="alert alert-success">
                                        <%= locals.message %>
                                    </div>
                                    <a href="/" class="btn btn-primary">
                                        Revenir à l'accueil
                                    </a>
                                <% } else { %>
                                    <form method="POST" action="/publish" id="publisherForm" name="publisherForm"
                                        class="publisherForm" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="name">Nom complet de l'auteur</label>
                                                    <input type="text" class="form-control" name="name" id="name"
                                                    value="<% if (locals.rbody) { %><%= rbody.name %><% } %>"
                                                        placeholder="Prénom NOM" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="email">Adresse électronique</label>
                                                    <input type="email" class="form-control" name="email" id="email"
                                                    value="<% if (locals.rbody) { %><%= rbody.email %><% } %>"
                                                        placeholder="Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="phone">Numéro de téléphone</label>
                                                    <input type="tel" class="form-control" name="phone" id="phone"
                                                    value="<% if (locals.rbody) { %><%= rbody.phone %><% } %>"
                                                        placeholder="Téléphone" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="title">Titre du livre</label>
                                                    <input type="text" class="form-control" name="title" id="title"
                                                    style="text-transform: capitalize;"
                                                    value="<% if (locals.rbody) { %><%= rbody.title %><% } %>"
                                                        placeholder="Titre" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="file">Fichier PDF</label>
                                                    <input type="file" class="form-control" name="file" id="file"
                                                    value="<% if (locals.rbody) { %><%= rbody.file %><% } %>"
                                                    accept=".pdf" placeholder="Fichier PDF" required>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="summary">Résumé du livre</label>
                                                    <textarea name="summary" id="summary" cols="30" rows="4"
                                                        class="form-control" placeholder="Résumé" required><% if (locals.rbody) { %><%= rbody.summary %><% } %></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group float-right">
                                                    <input type="submit" value="Envoyer" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>